version: '3.8'
services:
  tr-internal-api:
    container_name: tr-internal-api
    image: ghcr.io/e-permit/internalapi:latest
    depends_on:
      - trdb
    environment:
      - EPERMIT_ADMIN_PASSWORD=admin
      - EPERMIT_KEYSTORE_PASSWORD=admin
      - FLYWAY_ENABLED=true
      - FLYWAY_SCHEMAS=public
    env_file:
      - tr.env
    ports:
      - "3050:8080"
    volumes:
      - /var/log/epermit
  
  tr-public-api:
    container_name: tr-public-api
    image: ghcr.io/e-permit/publicapi:latest
    depends_on:
      - trdb
    env_file:
      - tr.env
    ports:
      - "3051:8080"
    volumes:
      - /var/log/epermit

  trdb:
    image: 'postgres:16.2-alpine'
    container_name: trdb
    environment:
      - POSTGRES_USER=compose-postgres
      - POSTGRES_PASSWORD=compose-postgres
      - POSTGRES_DB=devdb
    ports:
      - "5433:5432"
  
  uz-internal-api:
    container_name: uz-internal-api
    image: ghcr.io/e-permit/internalapi:latest
    depends_on:
      - uzdb
    environment:
      - EPERMIT_ADMIN_PASSWORD=admin
      - EPERMIT_KEYSTORE_PASSWORD=admin
      - FLYWAY_ENABLED=true
      - FLYWAY_SCHEMAS=public
    env_file:
      - uz.env
    ports:
      - "3060:8080"
    volumes:
      - /var/log/epermit

  uz-public-api:
    container_name: uz-public-api
    image: ghcr.io/e-permit/publicapi:latest
    depends_on:
      - uzdb
    env_file:
      - uz.env
    ports:
      - "3061:8080"
    volumes:
      - /var/log/epermit

  uzdb:
    image: 'postgres:16.2-alpine'
    container_name: uzdb
    environment:
      - POSTGRES_USER=compose-postgres
      - POSTGRES_PASSWORD=compose-postgres
      - POSTGRES_DB=devdb
    ports:
      - "5434:5432"
