version: '3.6'
services:
  internal-api:
    container_name: internalapi
    depends_on:
      - epermitdb
    env_file: 
      - epermit.env
    build: 
      context: ./e-permit-internal-api
    ports:
      - "3030:8080"
  public-api:
    container_name: publicapi
    depends_on:
      - epermitdb
    env_file: 
      - epermit.env
    build: 
      context: ./e-permit-public-api
    ports:
      - "3031:8080"
  epermitdb:
    image: 'postgres:13.1-alpine'
    container_name: epermitdb
    environment:
      - POSTGRES_USER=compose-postgres
      - POSTGRES_PASSWORD=compose-postgres
      - POSTGRES_DB=devdb
    ports:
      - "5432:5432"