version: '3.6'
services:
  tr-internal-api:
    container_name: trinternalapi
    depends_on:
      - trdb
    env_file: 
      - tr.env
    build: 
      context: ./e-permit-internal-api
    ports:
      - "3020:8080"
  tr-public-api:
    container_name: trpublicapi
    depends_on:
      - trdb
    env_file: 
      - tr.env
    build: 
      context: ./e-permit-public-api
    ports:
      - "3021:8080"
  uz-internal-api:
    container_name: uzinternalapi
    depends_on:
      - uzdb
    env_file: 
      - uz.env
    build: 
      context: ./e-permit-internal-api
    ports:
      - "3030:8080"
  uz-public-api:
    container_name: uzpublicapi
    depends_on:
      - uzdb
    env_file: 
      - uz.env
    build: 
      context: ./e-permit-public-api
    ports:
      - "3031:8080"
  trdb:
    image: 'postgres:13.1-alpine'
    container_name: trdb
    environment:
      - POSTGRES_USER=compose-postgres
      - POSTGRES_PASSWORD=compose-postgres
      - POSTGRES_DB=devdb
  uzdb:
    image: 'postgres:13.1-alpine'
    container_name: uzdb
    environment:
      - POSTGRES_USER=compose-postgres
      - POSTGRES_PASSWORD=compose-postgres
      - POSTGRES_DB=devdb