<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <if condition='isDefined("EPERMIT_GRAYLOG_HOST")'>
        <then>
            <appender name="GELF" class="de.siegmar.logbackgelf.GelfTcpAppender">
                <graylogHost>${EPERMIT_GRAYLOG_HOST}</graylogHost>
                <graylogPort>${EPERMIT_GRAYLOG_PORT}</graylogPort>
                <connectTimeout>15000</connectTimeout>
                <reconnectInterval>300</reconnectInterval>
                <maxRetries>2</maxRetries>
                <retryDelay>3000</retryDelay>
                <poolSize>2</poolSize>
                <poolMaxWaitTime>5000</poolMaxWaitTime>
                <encoder class="de.siegmar.logbackgelf.GelfEncoder">
                    <originHost>epermit-internal-api</originHost>
                    <includeRawMessage>false</includeRawMessage>
                    <includeMarker>true</includeMarker>
                    <includeMdcData>true</includeMdcData>
                    <includeCallerData>false</includeCallerData>
                    <includeRootCauseData>false</includeRootCauseData>
                    <includeLevelName>false</includeLevelName>
                    <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">
                        <pattern>%m%nopex</pattern>
                    </shortPatternLayout>
                    <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
                        <pattern>%m%n</pattern>
                    </fullPatternLayout>
                    <numbersAsString>false</numbersAsString>
                    <staticField>Environment:${environment}</staticField>
                </encoder>
            </appender>
            <appender name="ASYNC GELF" class="ch.qos.logback.classic.AsyncAppender">
                <appender-ref ref="GELF" />
            </appender>
        </then>
    </if>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <if condition='isDefined("EPERMIT_GRAYLOG_HOST")'>
            <then>
                <appender-ref ref="ASYNC GELF" />
            </then>
        </if>
    </root>
</configuration>