<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="environment" source="spring.profiles.active" />

    <appender name="CONSOLE"
        class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "env": "${environment}"
                        }
                    </pattern>
                </pattern>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <throwableClassName>
                    <fieldName>exception_class</fieldName>
                </throwableClassName>
                <stackTrace>
                    <fieldName>stack_trace</fieldName>
                    <!-- maxLength - limit the length of the stack trace -->
                    <throwableConverter
                        class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>200</maxDepthPerThrowable>
                        <maxLength>5000</maxLength>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
                <mdc/>
            </providers>
        </encoder>
    </appender>
    <if condition='isDefined("EPERMIT_GRAYLOG_HOST")'>
        <then>
            <appender name="GELF" class="de.siegmar.logbackgelf.GelfTcpAppender">
                <graylogHost>${EPERMIT_GRAYLOG_HOST}</graylogHost>
                <graylogPort>${EPERMIT_GRAYLOG_PORT}</graylogPort>
                <connectTimeout>15000</connectTimeout>
                <reconnectInterval>300</reconnectInterval>
                <maxRetries>2</maxRetries>
                <retryDelay>3000</retryDelay>
                <poolSize>2</poolSize>
                <poolMaxWaitTime>5000</poolMaxWaitTime>
                <encoder class="de.siegmar.logbackgelf.GelfEncoder">
                    <originHost>epermit-public-api</originHost>
                    <includeRawMessage>false</includeRawMessage>
                    <includeMarker>true</includeMarker>
                    <includeMdcData>true</includeMdcData>
                    <includeCallerData>false</includeCallerData>
                    <includeRootCauseData>false</includeRootCauseData>
                    <includeLevelName>false</includeLevelName>
                    <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">
                        <pattern>%m%nopex</pattern>
                    </shortPatternLayout>
                    <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
                        <pattern>%m%n</pattern>
                    </fullPatternLayout>
                    <numbersAsString>false</numbersAsString>
                    <staticField>Environment:${environment}</staticField>
                </encoder>
            </appender>
            <appender name="ASYNC GELF" class="ch.qos.logback.classic.AsyncAppender">
                <appender-ref ref="GELF" />
            </appender>
        </then>
    </if>
    <if condition='isDefined("EPERMIT_GRAYLOG_HOST")'>
        <then>
            <root>
                <appender-ref ref="CONSOLE" />
                <appender-ref ref="ASYNC GELF" />
            </root>
        </then>
        <else>
            <root level="INFO">
                <appender-ref ref="CONSOLE" />
            </root>
        </else>
    </if>

</configuration>