on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Package & Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: '14'
        distribution: 'adopt'
    - name: Run the mvn package
      run: mvn --batch-mode --update-snapshots package
      
    - name: Login to Github Packages
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push public api
      uses: docker/build-push-action@v3
      with:
        context: ./e-permit-public-api
        push: true
        tags: epermit/publicapi:latest
    - name: Build and push internal api
      uses: docker/build-push-action@v3
      with:
        context: ./e-permit-internal-api
        push: true
        tags: epermit/internalapi:latest