on:
  push:
    branches: [ "x-road" ]
  pull_request:
    branches: [ "x-road" ]
permissions:
  packages: write
jobs:
  build:
    environment: production
    name: Package & Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: '20'
        distribution: 'adopt'
    - name: Run the mvn package
      run: mvn --batch-mode --update-snapshots package
    - name: Extract Maven project version
      run: echo ::set-output name=version::$(mvn -q -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive exec:exec)
      id: version
    - name: Login to Github Packages
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push public api
      uses: docker/build-push-action@v3
      with:
        context: ./e-permit-public-api
        push: true
        tags: ghcr.io/e-permit/publicapi:latest,ghcr.io/e-permit/publicapi:${{ steps.version.outputs.version }}
    - name: Build and push internal api
      uses: docker/build-push-action@v3
      with:
        context: ./e-permit-internal-api
        push: true
        tags: ghcr.io/e-permit/internalapi:latest,ghcr.io/e-permit/internalapi:${{ steps.version.outputs.version }}